<div align="left" class="header-container">
  <div class="header-container-left">
  </div>

  <div align="center" class="header-container-center">
    <div class="header-container-center-elem" id="logo">
      {{!-- <a class="max-block" href='/main'></a> --}}
    </div>

  </div>

  <div class="header-container-right">
    <div class="header-container-right-elem profile-avatar-small">
      <img id="avatar-photo" class="profile-avatar-photo" src="{{ avatarUrl }}" onerror='this.src="/not-available.png"'>
    </div>
  </div>
</div>