<div class="menu-box">
    <title>Регистрация</title>
    <h1>Регистрация</h1>

    <div class="menu-wrapper-column">
        <div id="textbox-e-mail"class="menu-textbox">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
            </svg>
            <input id="e-mail" metadata="" type="email" placeholder="E-mail">
        </div>

        <div class="menu-father-message menu-father-message-error">
            <div class="menu-message menu-message-visible">
                Ошибка
            </div>
        </div>

        <div id="textbox-username" class="menu-textbox">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            </svg>
            <input id="username" type="text" placeholder="Имя пользователя">
        </div>

        <div class="menu-father-message menu-father-message-error">
            <div class="menu-message menu-message-visible">
                Ошибка
            </div>
        </div>

        <div id="textbox-password" class="menu-textbox">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
            </svg>
            <input id="password" type="password" placeholder="Пароль">
        </div>

        <div class="menu-father-message menu-father-message-error">
            <div class="menu-message menu-message-visible">
                Ошибка
            </div>
        </div>

        <div  id="textbox-repeat-password" class="menu-textbox">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 16">
                <path
                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
            </svg>
            <input id="repeat-password" type="password" placeholder="Повторите пароль">
        </div>

        <div class="menu-father-message menu-father-message-error menu-father-message-wait">
            <div class="menu-message menu-message-visible">
                Ошибка
            </div>
        </div>

        <button id="enter" class="menu-btn menu-btn-success">Зарегистрироваться</button>

        <button id="goto-login" class="menu-linebtn menu-linebtn-black menu-linebtn-active-red">Я уже
            зарегистрирован</button>
    </div>
</div>
