<div class="popup-module menu-wrapper-column ">
    <div class="popup-content">
        <div class="close-icon-div btn-icon-div" id="btn-close">
            <svg class="btn-icon" viewBox="0 0 32 32" width="24" height="24"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style>
            </defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
        </div>
        <div class="popup-board-header">
            <span class="span-textarea board-name" role="textbox" contenteditable >{{name}}</span>
        </div>
        <div class="task-description-heading">Описание доски:</div>
        <span class="span-textarea" role="textbox" contenteditable>{{description}}</span>
        <div id="board-delete" class="board-delete"></div>
    </div>
</div>