{{#*inline "deskGrid" desks add-desk}}
<div class="desks-container-grid">
  {{#if add-desk}}
  <div class="grid-elem grid-adddesk">Создать доску</div>
  {{/if}}
  {{#each desks}}
  <div class="grid-elem grid-desk" id="{{this.id}}">
    <img src="{{this.image}}" onerror="this.style.display = 'none';">
    <h4 class="menu-textbox">
      {{this.name}}
    </h4>
    <p>
      {{this.description}}
    </p>
  </div>
  {{/each}}
</div>
{{/inline}}

<div class="main-page">
  {{#if authorized}}
  <div class="user-desks desks-container">
    <div class="container-title menu-textbox">Персональные доски</div>
    {{> deskGrid desks=userDesks add-desk=true}}
  </div>

  <div class="all-desks desks-container">
    <div class="container-title menu-textbox">ALL DESKS</div>
    {{> deskGrid desks=allDesks add-desk=false}}
  </div>
  {{/if}}
</div>