.header-container {
  background-color: var(--body-bg-color);
  display: flex;
  width: 100%;
  height: 55px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--box-bg-color);
}

.board-page {
  width: 100vw;
  height: 100vh;
}

.board-panel {
  overflow: auto;
  margin: 5px;
  display: flex;
}

.board-panel-start {
  display: flex;
  align-items: center;
}

.board-panel-end {
  padding-right: 20px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

#add-row-btn {
  cursor: pointer;
}

.board-panel-divider {
  border-left: 2px solid var(--board-panel-buttons-bg);
  height: 100%;
}

.board-panel-text-elem {
  display: flex;
  padding: 11px;
  text-align: center;
  border-radius: 3px;
  background-color: var(--board-panel-buttons-bg);
}

#additional-people-icon {
  display: flex;
  background-color: var(--board-panel-buttons-bg);
  border-radius: 20px;
  text-align: center;
  padding: 11px;
}

.rounded-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.board-panel-element {
  margin-left: 5px;
}

.board {
  background-color: cornflowerblue;
  height: 100%;
  width: 100%;
  min-width: 210px;
  padding: 8px;
}

.rows-container {
  overflow: auto;
  flex-direction: row;
  display: flex;
}

.row-name {
  text-align: center;
  margin-bottom: 5px;
}

.row {
  min-width: 190px;
  max-height: 100%;
  height: fit-content;
  margin: 5px;
  background-color: var(--row-bg-color);
  padding: 10px;
  border-radius: 5px;
  display: block;
}

.tasks-container {
  flex: 1 1 auto;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  padding: 0, 10px;
}

.task {
  width: 150px;
  border-radius: 5px;
  overflow-wrap: break-word;
  padding: 10px;
  margin: 5px 0;
  background-color: white;
}

.add-card-button {
  padding: 10px 10px 0 10px;
  color: gray;
  cursor: pointer;
}

.popup-container {
  position: absolute;
  overflow-y: auto;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-module {
  flex-shrink: 0;
  justify-content: flex-start;
  width: 100%;
  max-width: 615px;
  height: fit-content;
  margin: 10vh 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  background: white;
}

.popup-content {
  position: relative;
  max-width: 555px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 10px 5px;
}

.task-header {
  max-width: 500px;
  border-bottom: 1px solid black;
  padding: 10px 0;
  margin: 0 0 5px 0;
}

.span-textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 20px;
  line-height: 20px;
  border: none;
  padding: 5px;
  overflow-wrap: break-word;
}

.task-row-name {
  padding: 5px;
  color: gray;
  font-size: small;
}

.task-description-heading {
  margin: 5px;
}

.close-icon-div {
  display: flex;
  align-content: center;
  position: absolute;
  top: 13px;
  right: 0;
}

.close-icon {
  border-radius: 50%;
  padding: 10px;
}

.close-icon-div :hover {
  background: padding-box var(--btn-exit-hover);
}
