.main-page-container {
  display: flex;
  width: 100%;
  min-width: 400px;
  min-height: 100vh;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  align-self: flex-start;
  background-color: white;
}

#root {
  display: flex;
  align-self: flex-start;
  width: 100vw;
}

.header-container {
  background-color: var(--body-bg-color);
  display: flex;
  width: 100%;
  height: 55px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  /* border-bottom: 1px solid; */
}


.header-user-avatar {
  margin-left: auto;
}

#header-logo {
  margin-right: auto;
}

#avatar-photo {
  max-height: 55px;
  max-width: 90px;
}

.header-login {
  min-width: 75px;
  height: 100%;
}

#enter {
  margin: 10% 0 3% 0;
}

.add-desk {
  min-width: 20%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.user-desks-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
  /* align-items: space-around; */
}

.user-desks-title, .all-desks-title {
  /* margin: 5% 0 0 0;
  align-self: center; */
  text-align: center;
}

.user-desks-grid {
  margin: 2% 5% 5% 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-desk {
  margin: 10px;
  background-color: var(--body-bg-color);
  color: aliceblue;
  font-size: 40px;
  flex-basis: 200px;
  height: 90px;
  box-shadow: 0 0 10px;
  border-radius: 5px;
  text-align: center;

}

.all-desks-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-direction: column;
}