.profile-avatar-small {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  outline: none;
}

.profile-avatar-small img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transition: 0.25s;
  object-fit: cover;
}

.profile-avatar-big {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 12px;
  outline: none;
}

.profile-avatar-big img {
  position: absolute;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: 0.25s;
  object-fit: cover;
  box-shadow: 0 0 10px;
}

.profile-avatar-big label {
  position: absolute;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: 0.25s;
  object-fit: cover;
  cursor: pointer;
}

.profile-avatar-big input {
  display: none;
}

.profile-avatar-big:hover img, .profile-avatar-big label {
  border-radius: 15px;
  opacity: 0.75;
}

.profile-avatar-big svg {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.25s;
}

.profile-avatar-big:hover svg {
  opacity: 0.5;
}
