body {
  font-family: sans-serif;
  background-color: #34495e;
  background-size: unset;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-box {
  width: 280px;
  padding: 40px;
  border-radius: 5px;
  color: black;
  background-color: #ecf0f1;
  box-shadow: 0 0 10px;
}

.menu-box h1 {
  border-bottom: 4px solid;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding: 13px 0;
}

.menu-textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid;
  transition: 0.25s;
}

.menu-textbox svg {
  width: 16px;
  height: 16px;
  float: left;
  text-align: center;
  margin: 3px 5px;
  transition: none;
}

.menu-textbox input {
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 2px;
}

.menu-textbox input::placeholder {
  color: auto;
  transition: 0.25s;
}

.menu-textbox:hover input::placeholder, .menu-textbox input:focus::placeholder {
  color: #252525;
}

.menu-btn {
  border: 2px solid;
  padding: 5px;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  width: 90%;
  transition: 0.25s;
}

.menu-btn-grey {
  color: black;
  background: #95a5a6;
  border-color: #95a5a6;
}

.menu-btn-orange {
  color: black;
  background: #E38C00;
  border-color: #E38C00;
}

.menu-btn-red {
  color: black;
  background: #e34a00;
  border-color: #e34a00;
}

.menu-btn-active-green:hover {
  color: white;
  background: #006340;
  border-color: #006340;
}

.menu-btn-active-green:active {
  color: white;
  background: #009863;
  border-color: #009863;
}

.menu-btn-active-orange:hover {
  color: white;
  background: #E38C00;
  border-color: #E38C00;
}

.menu-btn-active-orange:active {
  color: white;
  background: #F1AC3C;
  border-color: #F1AC3C;
}

.menu-btn-active-red:hover {
  color: white;
  background: #e34a00;
  border-color: #e34a00;
}

.menu-btn-active-red:active {
  color: white;
  background: #F1773C;
  border-color: #F1773C;
}

.menu-linebtn {
  cursor: pointer;
  border: 0;
  padding: 0 10px;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: underline;
  transition: 0.25s;
  background: fixed;
}

.menu-linebtn-black {
  color: black;
}

.menu-linebtn-green {
  color: #006340;
}

.menu-linebtn-orange {
  color: #E38C00;
}

.menu-linebtn-red {
  color: #e34a00;
}

.menu-linebtn-active-red:hover {
  color: #e34a00;
}

.menu-wrapper-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}