.profile-avatar-big {
  width: 200px;
  height: 200px;
}

.profile-avatar-big img {
  position: absolute;
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  transition: 0.25s;
  object-fit: cover;
}

.profile-avatar-big:hover img {
  border-radius: 15px;
  opacity: 0.75;
}

.profile-avatar-big svg {
  position: relative;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  opacity: 0;
  transition: 0.25s;
}

.profile-avatar-big:hover svg {
  opacity: 0.5;
}
